<%- include('../partials/head') %>
<link rel="stylesheet" href="/css/users.css" />
<title>Inventario</title>
</head>

<body>
  <%- include('../partials/header') %>

  <main>
    <h2>Inventario</h2>

      <section class="users_container">
      <% for(let i = 0; i < allProducts.length; i++){ %>

      <article class="user_container">
        <% if (allProducts[i].Image && allProducts[i].Image.length) { %>
          
          <img src="/img/products/<%= allProducts[i].Image %>" alt="image" width="300px" height="300px">
          <% } else { %>     
          <img src="/img/products/usuarioSinImagen.jpg" alt="image" width="300px" height="300px">
            <% } %>
            <h3 ><%= allProducts[i].NameProduct %></h3>
            <h3>ID: <%= allProducts[i].IDProduct %></h3>
            <h3>Stock: <%= allProducts[i].Stock %></h3>
            <h3>Precio: $<%= allProducts[i].Price %></h3>

            <form action="/product/<%= allProducts[i].IDProduct %>" method="GET">
              <button type="submit">Ver</button>
            </form>
            <form action="/products/delete/<%= allProducts[i].IDProduct %>?_method=DELETE" method="POST">
              <button type="submit">Borrar</button>
            </form>
            
      </article>
 

      <% } %>
    </section>
  </main>

  <%- include('../partials/footer') %>
</body>

</html>