<%- include('../partials/head') %>

<link rel="stylesheet" href="/css/productDetail.css" />
<title>Detalles del Producto</title>
</head>

<body>

  <%- include('../partials/header') %>

  <h2 class="containerTitle">Detalles del Producto</h2>

  <main class="containerMainProductDetail">
    <div class="containerCardProducto">
      <img src="/img/products/<%= product.Image %>" alt="<%= product.NameProduct %>">
      <section class="containerSectionDetalle">
        <h3><%= product.NameProduct %></h3>
        <h3>Id Producto:  <%= product.IDProduct %></h3>
        <h3>Stock:  <%= product.Stock %></h3>
        <h3>Precio: $<%= product.Price %></h3>
        <h3>Categoria: <%= product.IDCategory %></h3>
        <a href="/productCart"><button> AGREGAR AL EVENTO </button></a>

        <form action="/products/<%= product.IDProduct %>?_method=DELETE" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit">Eliminar</button>
        </form>

      </section>
      
    </div>
  </main>

  <%- include('../partials/footer') %>
</body>

</html>