<footer>
  <section class="containerFooter">
    <article class="containerSections">
      FOOTER
    </article>
      
  </section>
</footer>
  <link rel="stylesheet" href="/css/product.css" />
  <title>New client</title>
  </head>
  
  <body>
    <%- include('../partials/header') %>
    <main>
      <div class="containerNP">
        <h1>Editar cliente</h1>
        <form action="/client/<%= client._id%>/edit?_method=PUT" method="POST">
          <div>
            <label for="">Titulo: </label>
            <input type="text" name="firstName" id="" value="<%= client.firstName %>">
            <input type="text" name="lastName" id="" value="<%= client.lastName %>">            
          </div>
          <div>
            <label for="">Email: </label>
            <input type="text" name="email" id="" value="<%= client.email %>">
          </div>
          <div>
            <label for="">Telefono: </label>
            <input type="number" name="tel" id="" value="<%= client.tel %>">
          </div>
          <button type="submit">Confirmar</button>
        </form>
      </div>
  
    </main>
    <%- include('../partials/footer') %>
  </body>
  
  </html>