<%- include('../partials/head') %>

<link rel="stylesheet" href="/css/newProduct.css" />
<title>New Client</title>
</head>

<body>
  <%- include('../partials/header') %>
  <main>
    <div class="containerNP">
      <h1>Crear nuevo cliente</h1>
      <form action="/clients" method="POST" enctype="multipart/form-data">

        <label for="firstName">Nombre:</label>
        <input type="text" id="firstName" name="firstName" class="control <%= locals.errors && errors.firstName ? 'is-invalid' : '' %>" value="<%= locals.oldData ? oldData.firstName : '' %>">
        <% if(locals.errors && errors.firstName) { %>
        <div class="text-danger">
          <%= errors.firstName.msg  %>
        </div>
        <% } %>

        <label for="lastName">Apellido:</label>
        <input type="text" id="lastName" name="lastName" class="control <%= locals.errors && errors.lastName ? 'is-invalid' : '' %>" value="<%= locals.oldData ? oldData.lastName : '' %>">
        <% if(locals.errors && errors.lastName) { %>
        <div class="text-danger">
          <%= errors.lastName.msg  %>
        </div>
        <% } %>



        <label for="email">Email: </label>
        <input type="email" id="email" name="email" class="control <%= locals.errors && errors.email ? 'is-invalid' : '' %>" value="<%= locals.oldData ? oldData.email : '' %>">
        <% if(locals.errors && errors.email) { %>
        <div class="text-danger">
          <%= errors.email.msg  %>
        </div>
        <% } %>

        <label for="tel">telefono: </label>
        <input type="number" id="tel" name="tel" class="control <%= locals.errors && errors.tel ? 'is-invalid' : '' %>" value="<%= locals.oldData ? oldData.tel : '' %>"></input>
        <% if(locals.errors && errors.tel) { %>
        <div class="text-danger">
          <%= errors.tel.msg  %>
        </div>
        <% } %>

        <label for="image">Cliente: </label>
        <input type="file" id="image" name="image">
        <% if(locals.errors && errors.image) { %>
        <div class="text-danger">
          <%= errors.image.msg  %>
        </div>
        <% } %>

        <button type="submit">Crear</button>
        <button type="reset">Borrar</button>

      </form>
    </div>
  </main>

  <%- include('../partials/footer') %>
</body>

</html>