<%- include('../partials/head') %>

<link rel="stylesheet" href="/css/productDetail.css" />
<title>Detalles del Evento</title>
</head>

<body>

  <%- include('../partials/header') %>

  <h2 class="containerTitle">Detalles del Evento</h2>

  <main class="containerMainProductDetail">
    <div class="containerCardProducto">
      <section class="containerSectionDetalle">
        
        <h3>ID del Evento:<br> <%= event.IDEvent %></h3>
        <h3>Dirección: <br> <%= event.AddressEvent %></h3>
        <h3>Fecha: <br> <%= event.DateEvent.toLocaleDateString() %></h3> 
        <h3>Tipo: <br> <%= event.CateringType.NameCateringType %></h3>
        <div class="products-section">
          <h3> Cliente:<br>
            <%= event.Client.FirstName %> <%= event.Client.LastName %>
            <!-- Enlace al detalle del cliente -->
            <button class="detail-button" onclick="window.location.href='/client/<%= event.Client.IDClient %>'">Ver Detalle</button>
          </h3>
        </div>


        <!-- Mostrar productos -->
        <div class="products-section">
          <% if (products && products.length > 0) { %>
            <h3>Productos:</h3>
            <ul>
              <% products.forEach(product => { %>
                <li>
                  <span class="product-name"><%= product.NameProduct %></span>
                  <!-- Enlace al detalle del producto -->
                  <button class="detail-button" onclick="window.location.href='/product/<%= product.IDProduct %>'">Ver Detalle</button>
                </li>
              <% }); %>
            </ul>
          <% } else { %>
            <p>No hay productos disponibles para este evento.</p>
          <% } %>
        </div>

        <!-- Mostrar empleados -->
        <div class="employees-section">
          <% if (employees && employees.length > 0) { %>
            <h3>Empleados:</h3>
            <ul>
              <% employees.forEach(employee => { %>
                <li>
                  <span class="employee-name"><%= employee.FirstName %> <%= employee.LastName %></span>
                  <!-- Enlace al detalle del empleado -->
                  <button class="detail-button" onclick="window.location.href='/employee/<%= employee.IDEmployee %>'">Ver Detalle</button>
                </li>
              <% }); %>
            </ul>
          <% } else { %>
            <p>No hay empleados disponibles para este evento.</p>
          <% } %>
        </div>


        <form action="/events/<%= event.IDEvent %>?_method=DELETE" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="delete-button">Eliminar</button>
        </form>

      </section>
    </div>
  </main>

  <%- include('../partials/footer') %>
</body>

</html>
