<%- include('../partials/head') %>

<link rel="stylesheet" href="/css/productDetail.css" />
<title>Detalles del Producto</title>
</head>

<body>

  <%- include('../partials/header') %>

  <h2 class="containerTitle"> Detalles del Evento</h2>

  <main class="containerMainProductDetail">
    <div class="containerCardProducto">
      <section class="containerSectionDetalle">
        
        <h3>ID del Evento: <%= event.IDEvent %></h3>
        <h3>Dirección: <%= event.AddressEvent %></h3>
        <h3>Fecha: <%= event.DateEvent %></h3>  
        <h3>Tipo: <%= event.CateringType.NameCateringType %></h3>
        <h3>Inventario: <%= event.Product.NameProduct %></h3>
        <h3>Empleados: <%= event.Employee.FirstName %></h3>
        <h3>Cliente: <%= event.Client.FirstName %>   <%= event.Client.LastName %></h3>
        
        <form action="/events/<%= event.IDEvent %>?_method=DELETE" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit">Eliminar</button>
        </form>

      </section>

      
      
    </div>
  </main>

  <%- include('../partials/footer') %>
</body>

</html>