<%- include('../partials/head') %>
  <link rel="stylesheet" href="/css/product.css" />
  <title>New Event</title>
  </head>
  
  <body>
    <%- include('../partials/header') %>
    <main>
      <div class="containerNP">
        <h1>Editar Evento</h1>
        <form action="/event/<%= event._id%>/edit?_method=PUT" method="POST">
          <div>
            <label for="">Evento: </label>
            <input type="text" name="eventName" id="" value="<%= event.idevent %>">
          </div>
          <div>

          <button type="submit">Confirmar</button>
        </form>
      </div>
  
    </main>
    <%- include('../partials/footer') %>
  </body>
  
  </html>