<%- include('../partials/head') %>

<link rel="stylesheet" href="/css/productDetail.css" />
<title>Detalles del Producto</title>
</head>

<body>

  <%- include('../partials/header') %>

  <h2 class="containerTitle">Detalles del Evento</h2>

  <main class="containerMainProductDetail">
    <div class="containerCardProducto">
      <section class="containerSectionDetalle">
        <h3>ID del evento: <%= event.IDEvent %></h3>
        <p>Dirección del evento: <%= event.AddressEvent %></p>
        <p>Fecha del evento: <%= event.DateEvent %></p>  
        <p>Tipo de catering: <%= event.CateringType.NameCateringType %></p>
        <p>Materiales Necesarios: <%= event.Product.NameProduct %></p>
        <p>Empleados: <%= event.Employee.FirstName %></p>
        <p>Cliente: <%= event.Client.FirstName %>   <%= event.Client.LastName %></p>
        <form action="/events/<%= event.IDEvent %>?_method=DELETE" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit">Eliminar</button>
        </form>
      </section>

      
      
    </div>
  </main>

  <%- include('../partials/footer') %>
</body>

</html>