<%- include('../partials/head') %>

<link rel="stylesheet" href="/css/productDetail.css" />
<title>Detalles del Empleado</title>
</head>

<body>

  <%- include('../partials/header') %>

  <h2 class="containerTitle">Detalles del Empleado</h2>

  <main class="containerMainProductDetail">
    <div class="containerCardProducto">
      <img src="/img/employees/<%= employee.Image %>" alt="<%= employee.firstName %>">
      <section class="containerSectionDetalle">
        <h3><p>Empleado:</p></h3> 
        <h3><p><%= employee.FirstName %> <%= employee.LastName %></p></h3>
        <h3>Email: <%= employee.Email %></h3>
        <h3>Franco: <%= employee.PaidLeave %></h3>
        <a href="/productCart"><button>AGREGAR AL EVENTO</button></a>
        <form action="/employees/delete/<%= employee.IDEmployee %>?_method=DELETE" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit">Eliminar</button>
        </form>
      </section>
    </div>
  </main>

  <%- include('../partials/footer') %>
</body>

</html>