<!DOCTYPE html>
<html><head><%- include('../partials/head') %>
  <link rel="stylesheet" href="/css/product.css" />
  <title>New employee</title>
  </head>
  
  <body>
    <%- include('../partials/header') %>
    <main>
      <div class="containerNP">
        <h1>Editar empleado</h1>
        <form action="/employee/<%= employee._id%>/edit?_method=PUT" method="POST">
          <div>
            <label for="">Titulo: </label>
            <input type="text" name="firstName" id="" value="<%= employee.firstName %>">
            <input type="text" name="lastName" id="" value="<%= employee.lastName %>">            
          </div>
          <div>
            <label for="">Email: </label>
            <input type="text" name="email" id="" value="<%= employee.email %>">
          </div>
          <div>
            <label for="">Franco: </label>
            <input type="text" name="paidLeave" id="" value="<%= employee.paidLeave %>">
          </div>
          <button type="submit">Confirmar</button>
        </form>
      </div>
  
    </main>
    <%- include('../partials/footer') %>
  </body>
  
  </html>