<%- include('../partials/head') %>

<link rel="stylesheet" href="/css/productDetail.css" />
<title>Catering Type Detail</title>
</head>

<body>

  <%- include('../partials/header') %>

  <h2 class="containerTitle">Detalles del Tipo de Catering</h2>

  <main class="containerMainProductDetail">
    <div class="containerCardProducto">
      <section class="containerSectionDetalle">
        <h3><%= cateringType.NameCateringType %></h3>
        <p>Empleados Necesarios: <%= cateringType.EmployeesRequired %></p>
        <p>Materiales Necesarios: <%= cateringType.ProductsRequired %></p>
        <a href="/productCart"><button>AGREGAR AL EVENTO</button></a>
        <form action="/cateringTypes/delete/<%= cateringType.IDcateringType %>?_method=DELETE" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit">Eliminar</button>
        </form>
      </section>
    </div>
  </main>

  <%- include('../partials/footer') %>
</body>

</html>